@charset "UTF-8";
/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
/*
=============== 
Variables
===============
*/
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */
.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.section-title {
  margin-bottom: 4rem;
  text-align: center;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  background-color: var(--clr-primary-5);
  margin-bottom: 1.25rem;
  margin: 0 auto;
}

.social-icons {
  display: flex;
  gap: 1.5rem;
  margin-top: 3rem;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

.social-icon {
  font-size: 1.5rem;
  color: var(--clr-grey-5);
  transition: var(--transition);
}
.social-icon:hover {
  color: var(--clr-primary-5);
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/*
=============== 
Navbar
===============
*/
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: var(--clr-grey-10);
}
.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
.nav-links {
  display: none;
}
.nav-btn {
  position: absolute;
  right: 1.5rem;
  border-color: transparent;
  font-size: 2rem;
  background-color: transparent;
  color: var(--clr-primary-5);
  cursor: pointer;
}

.navbar-fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: var(--light-shadow);
  z-index: 5;
}

@media screen and (min-width: 768px) {
  .nav .nav-links {
    display: flex;
    gap: 1.5rem;
    position: absolute; /*絕對定位*/
    right: 3rem;
  }
  .nav .nav-links li a {
    color: var(--clr-grey-5);
  }
  .nav .nav-links li a:hover {
    color: var(--clr-primary-5);
    border-bottom: 2px solid rgb(243, 191, 191);
  }
  .nav .nav-btn {
    display: none;
  }
}
/*
=============== 
Sidebar
===============
*/
.sidebar {
  position: fixed; /*絕對定位*/
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-grey-10);
  z-index: 5;
  transition: var(--transition);
  transform: translate(-100%);
}
.sidebar .close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  border-color: transparent;
  background-color: transparent;
  color: #bb2525;
  cursor: pointer;
}
.sidebar .close-btn:hover {
  color: #e66b6b;
}
.sidebar-links {
  text-align: center;
}
.sidebar-links a {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--clr-grey-5);
  letter-spacing: var(--spacing);
}
.sidebar-links a:hover {
  color: var(--clr-primary-5);
}
.sidebar .social-icons {
  display: grid;
  margin-top: 3rem;
  width: 20rem;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
.sidebar .social-icon {
  font-size: 1.5rem;
  color: var(--clr-grey-5);
  transition: var(--transition);
}
.sidebar .social-icon:hover {
  color: var(--clr-primary-5);
}

.show-sidebar {
  transform: translateX(0);
}

/*
=============== 
Hero
===============
*/
.hero {
  background-color: var(--clr-grey-10);
  min-height: calc(100vh - 4rem);
  place-items: center; /*直接對中*/
}
.hero-center {
  display: grid;
}
.hero .underline {
  margin-left: 0;
  margin-bottom: 0.2rem;
}
.hero .hero-info h4 {
  color: var(--clr-grey-5);
}
.hero-icons {
  justify-content: start;
}
.hero-btn {
  margin-top: 1.25rem;
}
.hero-img {
  display: none;
}
.hero-photo {
  max-width: 25rem;
  max-height: 30rem;
  object-fit: cover;
  border-radius: var(--radius);
  position: relative;
}

@media screen and (min-width: 768px) {
  .hero-center {
    grid-template-columns: 1fr 1fr;
  }
  .hero-img {
    display: block;
    width: 70%;
    position: relative;
  }
  .hero-img::before {
    content: "";
    position: absolute;
    top: 2rem;
    right: -2rem;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-grey-5);
    border-radius: var(--radius);
  }
  .hero-photo {
    max-width: 25rem;
    max-height: 30rem;
    object-fit: cover;
    border-radius: var(--radius);
    position: relative;
  }
}
/*
=============== 
timeline
===============
*/
.timeline-center {
  width: 80vw;
  max-width: 40rem;
}
.timeline-item {
  border-top: 2px dashed var(--clr-grey-5);
  margin: 0;
  padding: 4rem 2rem;
  position: relative;
}
.timeline-item:nth-child(even) {
  border-left: 2px dashed var(--clr-grey-5);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin-right: 2rem;
  padding-right: 0;
}
.timeline-item:nth-child(even) .number {
  left: 0;
}
.timeline-item:nth-child(odd) {
  border-right: 2px dashed var(--clr-grey-5);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  margin-left: 2rem;
  padding-left: 0;
}
.timeline-item:nth-child(odd) .number {
  right: 0;
  transform: translate(50%, -50%);
}
.timeline-item:first-child {
  border-top: 0;
  border-top-right-radius: 0;
}
.timeline-item:last-child {
  border-bottom-left-radius: 0;
}
.timeline-item .number {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 0;
  background: var(--clr-grey-6);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: var(--clr-primary-1);
  font-weight: bold;
}

/*
===============
Tiles
===============
*/
.tiles {
  padding: 4rem 0;
}
.tiles-center {
  width: 90vw;
  max-width: 1170px;
  margin: 2rem auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 12.5rem);
  grid-template-areas: "a a a b" "a a a c" "d d d d" "e f f f" "e g h i";
}
.tiles-center-center img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.tiles-center img {
  height: 100%;
}
.tiles-center .tile-1 {
  grid-area: g;
}
.tiles-center .tile-2 {
  grid-area: b;
}
.tiles-center .tile-3 {
  grid-area: c;
}
.tiles-center .tile-4 {
  grid-area: h;
}
.tiles-center .tile-5 {
  grid-area: e;
}
.tiles-center .tile-6 {
  grid-area: d;
}
.tiles-center .tile-7 {
  grid-area: f;
}
.tiles-center .tile-8 {
  grid-area: a;
}
.tiles-center .tile-9 {
  grid-area: i;
}

/*
===============
blog
===============
*/
.blog {
  border: 20px solid #bcb2b2;
  margin: 20px auto;
  width: 80%;
  padding: 20px;
  font-family: "Source Sans Pro", sans-serif;
  max-width: 700px;
  font-size: 16px;
}
.blog h2 {
  font-size: 2rem;
}
.blog .quote {
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;
}
.blog .date {
  color: #5096d3;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.blog hr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*
===============
Netfilx
===============
*/
.netfilx {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
}
.netfilx .banner {
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center center;
  color: white;
  object-fit: contain;
  height: 448px;
}
.netfilx .banner .banner--fadeBottom {
  margin-top: 145px;
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}
.netfilx .banner .banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 180px;
}
.netfilx .banner .banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}
.netfilx .banner .banner__contents .banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
.netfilx .banner .banner__contents .banner__title .banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}
.netfilx .banner .banner__contents .banner__title .banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}
.netfilx .row--final {
  color: white;
  margin-left: 20px;
}
.netfilx .row--final .row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 30px;
}
.netfilx .row--final .row__posters::-webkit-scrollbar {
  display: none;
}
.netfilx .row--final .row__posters .row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}
.netfilx .row--final .row__posters .row__poster:hover {
  transform: scale(1.08);
}
.netfilx .row--final .row__posters .row__posterLarge {
  max-height: 250px;
}
.netfilx .row--final .row__posters .row__posterLarge:hover {
  transform: scale(1.09);
}

@media screen and (min-width: 768px) {
  .banner-center {
    grid-template-columns: 1fr 1fr;
  }
}
/*
=============== 
resume
===============
*/
.main-resume-section {
  min-height: 100vh;
  width: 80vw;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 30fr 70fr;
}
.main-resume-section .resume-left {
  background-color: rgb(190, 194, 169);
  height: 100%;
}
.main-resume-section .left-content {
  padding: 2.5rem 3rem;
}
.main-resume-section .profile img {
  width: 100%;
  border-radius: 50%;
}
.main-resume-section .name {
  font-size: 2rem;
  color: #fff;
  padding: 1.2rem 0;
  text-align: center;
  text-transform: uppercase;
}
.main-resume-section .career {
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  color: #345760;
}
.main-resume-section .resume-right {
  background-color: antiquewhite;
  height: 100%;
}
.main-resume-section .about {
  font-size: 3rem;
  color: #0a355c;
  padding: 1rem 1rem;
}
.main-resume-section .info {
  text-align: auto;
  padding: 1rem 2rem;
}

/*
=============== 
learn
===============
*/
.learn h2 {
  text-align: center;
  margin: 2rem auto;
}
.learn .problem h3 {
  color: var(--clr-grey-3);
}
.learn .learning h3 {
  color: var(--clr-grey-3);
}
.learn .learning a {
  color: var(--clr-grey-5);
}
.learn .experience h3 {
  color: var(--clr-grey-3);
}

/*# sourceMappingURL=styles_76.css.map */
